<?xml version="1.0"?>
<Root>
  <Company>
      <CustomerName>BEAM TEKNOLOJİ A.Ş.</CustomerName>
	  <FontStyle>Calibri</FontStyle>
	  <FontSize>18</FontSize>
  </Company>
  <SFTP>
		<Host>192.168.1.100</Host>
		<UserName>root</UserName>
		<Port>22</Port>
		<RemotePath>/root/</RemotePath>
  </SFTP>
  <Form>
      <FormHeight>360</FormHeight>
      <FormWidth>640</FormWidth>
	  <StandBy>3000</StandBy>
  </Form>
  <Logo>
      <FileName>tc.jpg</FileName>
  </Logo>
</Root>
